.outline{
    margin: 2% 10% 2% 10%;
    padding: 1% 4% 1% 4%;
}

.row{
    margin-bottom: 10px;
}
.col{
    text-align: center;
}
.card{
    width: fit-content;
    padding:5%;
    border:solid 1px black;
    border-radius:5px;
}
.card-body{
    display:flex;
    align-items: center;
    font-size:large;
}
