.themes{
    width:1cm;
    height:1cm;
    margin:0 0.5cm 0.5cm 0.5cm;
}

.them{
    display:flex;
    justify-content:center;
    transform:translateY(-0.5cm);
}
#the1{
    border:solid 2px red;
}
#back-img{
    position:relative;
}
.card-body{
    display:flex;
    align-items: center;
    font-size:large;
    overflow:hidden;
    background-image: url('pic1.jpeg');
    background-size: cover;
    background-position: center;
}

.outline{
    margin: 2% 10% 2% 10%;
    padding: 1% 4% 1% 4%;
}

.row{
    margin-bottom: 10px;
}
.col{
    text-align: center;
}
.card{
    width: fit-content;

    border:solid 1px black;
    border-radius:5px;
}


.that-matters{
    background-color:rgba(242, 221, 221, 0.753);
    padding:5px;
    border-radius:5px;
    margin:5%;
}
